body {background:initial;}
div#entete {display:none;}
div#menu-links {display:none;}
div#page {background:initial;padding:0px;}
div#container.secret {width:100%; padding:0px; margin:0px; border:0px;}
div#title h1{font-size:4em;}
div#title h2{display:none;}
div.texte {padding:0px;}
.inscrits {border-right:1px solid black;}
.inscrits tr td {border-bottom:1px solid black; border-left:1px solid black;}
.inscrits tr th{border:1px solid black;}
table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
